<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Football Picker</h1>
    <h2>Hello, <%= @user.email %>!</h2>
    <p>This is just a friendly reminder to get your picks in before the games start!</p>
    <p><a href="http://football-picker.herokuapp.com">Click here</a> to log in and see your full results from last week and to make your picks for this week!</p>
    <h3>Thanks for playing Football Picker!</h3>
  </body>
</html>
