

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

body {
    background-color: #F0F0F0;
    text-align: center;
    padding-top: 70px;
}

.results-table {
  text-align: right;
  tr > td:nth-child(2) {
    text-align: center;  }
}

.game-container {
    background-color: #6CADDE;
    // border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
    display: inline-block;
    float: none;
    /* inline-block space fix */
}

.welcome-container {
    background-color: #6CADDE;
    border-radius: 10px;
    width: 75%;
    height: 400px;
    display: inline-block;
    float: none;
}

.btn {
    margin-bottom: 10px;
}

.editing {
    background-color: #00bbff;
}

.total-container {
    max-width: 400px;
}

ol {
    width: 300px;
    margin: auto;
    float: inline-block;
    li {
        text-align: left;
    }
}

/*navbar*/
.navbar {
    background-color: #323333;
}

.navbar-default {

  a.navbar-brand {
      color: white;
  }

  .navbar-brand:hover {
      color: #7e7e7f;
  }

  .navbar-nav {
    li > a {
      color: white;
    }

    li > a:visited {
      color: white;
    }

    li > a:hover {
      color: #7e7e7f;
    }

  }
}

a.dropdown-toggle {
  color: white;
}

.dropdown {
  .open {
    background-color: #606060;
  }
}

.dropdown-menu {
    min-width: 50px;
    background-color: #323333;
}

.correct {
  background-color: #60ff90;
}

.wrong {
  background-color: #ff6060;
}

#total-score {
  float: right;
}

#description {
  margin-top: 50px;
}
