/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

body {
    background-color: #F0F0F0;
    text-align: center;
}

.game-container {
    background-color: #6CADDE;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
}

.welcome-container {
    background-color: #6CADDE;
    border-radius: 10px;
    max-width: 600px;
    height: 600px;
}

.btn {
    margin-bottom: 10px;
}

.editing {
    background-color: #66e266;
}

.total-container {
    max-width: 400px;
}

ol > li {
    text-align: left;
}

ol {
    width: 200px;
    margin: auto;
    float: inline-block;
}
