<div class="container total-container">
  <% if @current_user_score %>
    <h2><strong>Your Score: </strong><%= @current_user_score %></h2>
  <% end %>
  <h1>Overall Standings</h1>
  <ol>
    <% @scores.each do |score| %>
      <li><%= score.user.email %> - <strong><%= score.score %></strong></li>
    <% end %>
  </ol>
</div>
