<h1>Total Scores</h1>
<% if @current_user_score %>
  <h2><strong>Your Score: </strong><%= @current_user_score %></h2>
<% end %>

<ol>
  <% @scores.each do |score| %>
    <li><%= score.user.email %> <%= score.score %></li>
  <% end %>
</ol>
